* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(assets/Desktop.png) no-repeat ;
    display: grid;
    place-content: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    position: relative;
    
}

main::before {
    content: "";
    left: 147px;
    bottom: 510px;
    
    background-image: url(assets/faixa.png);
    position: absolute;
    z-index: 10;
    width: 64px;
    display: flex;
    justify-content: center;
    height: 158px;
    
    margin: auto;
}
main::after {
    content: "";
    left: 139px;
    bottom: 506px;
    z-index: 1;
    background-image: url(assets/quebra.png);
    position: absolute;
    z-index: 6;
    width: 80px;
    display: flex;
    justify-content: center;
    height: 8px;
    
    margin: auto;
}


main {
    
    position: relative;
    top: 10rem ;
    bottom: 10rem;
    width: 358px;
    border-radius: .5rem;
    
    background: url(assets/background.svg) no-repeat center;
    
    height: 540px;
}

h3, p {
    color: gray;
    text-align: center;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #E1E1E6;
}
.nickname {
    display: flex;
    margin-bottom: 2rem;
    margin-top: -2rem;
    justify-content: center;
    gap: 0.75rem;
    align-items: center;
}

a {
    text-decoration: none;
} 

.avatar {
    width: 10rem;
    margin: 3.5rem auto 0;
}

.avatar > img {
    width: 10rem;
    
    object-fit: contain;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    
}
.avatar span {
    position: absolute;
    z-index: 2;
    
}



.imagesSocialMedia {
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    text-align: center;
}

.imagesSocialMedia {
    margin-top: 2rem;
}

.rounded * {
    border-radius: 8px;
}

